In [15]:
import pandas as pd
import numpy as np
import os
from dataset.loader import GestureDataset
import torch
from torch.utils.data import DataLoader

In [3]:
path_annotations = "./IPN_Hand/annotations-20231128T085307Z-001/annotations"
col_names = ["video_name", "label", "label_id", "start_frame", "end_frame", "num_frames"]
an_df = pd.read_csv(path_annotations + "/Annot_TrainList.txt", header=None, names=col_names, delimiter=",")

In [4]:
print(f"Number of Videos: {an_df.shape[0]}")
an_df[:5]

Number of Videos: 4039

      video_name label  label_id  start_frame  end_frame  num_frames
0  1CM1_4_R_#229   D0X         1            1         17          17
1  1CM1_4_R_#229   G11        14           18         55          38
2  1CM1_4_R_#229   B0B         3           56        284         229
3  1CM1_4_R_#229   G04         7          285        308          24
4  1CM1_4_R_#229   B0B         3          309        502         194

In [5]:
an_df[an_df["video_name"] == "1CV12_1_R_#65"][:4]

         video_name label  label_id  start_frame  end_frame  num_frames
1655  1CV12_1_R_#65   D0X         1            1         97          97
1656  1CV12_1_R_#65   G11        14           98        152          55
1657  1CV12_1_R_#65   B0B         3          153        356         204
1658  1CV12_1_R_#65   G07        10          357        458         102

In [6]:
annotations_train = "Annot_TrainList.txt"
annotations_test = "Annot_TestList.txt"

file_train = os.path.join(".", "IPN_Hand","annotations-20231128T085307Z-001", "annotations", annotations_train)
file_test = os.path.join(".", "IPN_Hand","annotations-20231128T085307Z-001", "annotations", annotations_test)
frame_folders = os.path.join(".", "IPN_Hand", "frames")

In [7]:
ds_train = GestureDataset(frame_folders, file_train)
ds_test = GestureDataset(frame_folders, file_test)

In [8]:
len(ds_train)

4039

In [9]:
len(ds_test)

1610

In [20]:
train_dataloader = DataLoader(ds_train, batch_size=64)
train_dataloader

In [33]:
X_train_batch, y_train_batch, labels_batch = next(iter(train_dataloader))

In [34]:
print(X_train_batch.shape)
print(y_train_batch.shape)

torch.Size([64, 142, 240, 320, 3])
torch.Size([64])